@{
    ViewData["Title"] = "Home Page";
}

<section class="main">	
		
		<div class="subtitulo">
			<p>Bem-vindo ao site de veterinária!</p>
		</div><!--div subtítulo-->	

<figure>
	<img src="~/figure/figura.jpg" title="Foto de um Atendimento Veterinário" alt="Foto de um Atendimento Veterinário"  />	
	<figcaption>
		Foto do google
	</figcaption>
</figure>

		<div class="conteudo">
			<p> A missão da veterinária PetVet é proporcionar saúde e bem-estar físico aos animais por meio de carinho e dedicação, do uso da tecnologia e do aprimoramento constante dos profissionais, contribuindo com a saúde pública e com a busca da felicidade pelas pessoas que gostam ou possuem animais. 
            Nossa visão é buscar a excelência no tratamento dos pets oferecendo aos responsáveis ou tutores tratamento humano e solidário.
            Valorizamos a vida, o conhecimento, a responsabilidade social e ambiental, a ética, o pioneirismo tecnológico, a excelência e a humanização.</p>
		</div><!--div conteúdo-->
	</div>
</section>
