@{
    ViewData["Title"] = "Servicos";
}
<section class="main">	
		
		<div class="subtitulo">
			<p>Serviços</p>
		</div><!--div subtítulo-->
	</section>
	<div class="clear"></div>

	<section class="servicos">
	<div class="lista">
		<div class="icons"><i class="fas fa-bath"></i></div>
		<ul>
		<li class="lista_titulo">Banho e Tosa </li>
			<ul class="descricoes">
				<li>O banho e tosa oferece procedimentos de estética canina realizados por funcionários diplomados na área, toalhas individuais, além de permitir que o proprietário acompanhe o manejo do seu animal através de um vidro.</li>
				<li>R$ 50,00</li>
			</ul>
		</ul>
	</div>

	<div class="lista">
		<div class="icons"><i class="fas fa-dog"></i></div>
		<ul>
		<li class="lista_titulo">Adestramento </li>
			<ul class="descricoes">
				<li>Tem como objetivo ensinar o animal a ter disciplina por meio de treinos regulares. Os truques de obediência básica, como dar a pata, sentar e deitar são feitos por muitas pessoas que desejam ter um animal educado. </li>
				<li>R$75,00</li>
			</ul>
		</ul>
	</div>

	<div class="lista">
		<div class="icons"><i class="fas fa-hotel"></i></div>
		<ul>
		<li class="lista_titulo">Hotelzinho </li>
			<ul class="descricoes">
				<li>Você faz uma reserva no local desejado, com os dias desejados e seleciona os serviços que o cão deverá receber. Pronto! Leve seu cão no dia combinado e busque-o na data certa.</li>
				<li>R$ 100,00</li>
			</ul>	
		</ul></div>		
	</section>	